SNOMEDRecursiveConceptFinder/Service References/SnAPIService/SnApiService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://snapi.dataline.co.uk/SnApiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://snapi.dataline.co.uk/SnApiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SnApiWcfService" />
  <xs:element name="CreateFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFavouriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateFavouriteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFavouritePrivateSharedFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="flag" type="q1:char" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFavouritePrivateSharedFlagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFavouriteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameFavourite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenameFavouriteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fullName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orgGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unregisterUserGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbourCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conceptId" type="xs:long" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbourCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetNeighbourCountResult" nillable="true" type="q2:ArrayOfNeighbourCountResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetRelTypesResult" nillable="true" type="q3:ArrayOfRelType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossMapSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossMapSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetCrossMapSetResult" nillable="true" type="q4:ArrayOfMapSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetStatusResult" nillable="true" type="q5:ArrayOfStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuffixes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuffixesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetSuffixesResult" nillable="true" type="q6:ArrayOfSuffix" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavourites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showEmpty" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeShared" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavouritesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetFavouritesResult" nillable="true" type="q7:ArrayOfFavourite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetSubSetsResult" nillable="true" type="q8:ArrayOfSubSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConcepts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descendentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ancestorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="saveToFavouriteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetCodes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mapSetId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subsets" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="favorites" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namespaces" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="matchType" type="xs:int" />
        <xs:element minOccurs="0" name="searchMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConceptsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="SearchConceptsResult" nillable="true" type="q9:ArrayOfConcept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchICD10Codes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="matchType" type="xs:int" />
        <xs:element minOccurs="0" name="SearchMode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchICD10CodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="SearchICD10CodesResult" nillable="true" type="q10:ArrayOfICD10Code" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConceptsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descendentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ancestorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetCodes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mapSetId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subsets" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="favorites" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suffix" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="namespaces" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matchType" type="xs:int" />
        <xs:element minOccurs="0" name="searchType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchConceptsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchConceptsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConcept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conceptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameSpace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConceptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetConceptResult" nillable="true" type="q11:ArrayOfConcept" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conceptId" type="xs:long" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetDescriptionResult" nillable="true" type="q12:ArrayOfDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICD10Description">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conceptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICD10DescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetICD10DescriptionResult" nillable="true" type="q13:ArrayOfICD10Description" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conceptId" type="xs:long" />
        <xs:element minOccurs="0" name="nameSpace" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relType" type="xs:int" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighboursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetNeighboursResult" nillable="true" type="q14:ArrayOfNeighbour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICD10Children">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conceptId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetICD10ChildrenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SnApiWcfService" minOccurs="0" name="GetICD10ChildrenResult" nillable="true" type="q15:ArrayOfICD10Children" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageFavourites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="favouriteId" type="xs:int" />
        <xs:element minOccurs="0" name="keyList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageFavouritesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetConfigValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnoflakeURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSnoflakeURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSnoflakeURLResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>